doctype html
html
  head
    title Game of Thrones Characters
    link(rel='stylesheet', href='/css/style.css')
  body
    header
      h1 Game of Thrones Character Explorer
    main
      block content
